body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #434455;
    background-color: #FFFFFF;
}

:root {
    --text-color: #2E2F42;
    --secondary-color: #404BBF;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    margin: -1px;
    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*  */




/* -------HEADER--------- */


/* LOGO */

.logo {
    color: #4D5AE5;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-accent {
    color: var(--text-color);
}


/* NAVIGATION */

.list {
    list-style: none;

}

.header-menu-link :hover {
    color: var(--secondary-color);
}

.header-menu-link :focus {
    color: var(--secondary-color);
}

. .header-menu-link {
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-contacts {
    font-style: normal;
}



.header-contacts-item {
    color: var(--text-color);
    list-style-type: none;
    font-style: normal;
}

.header-contacts-link :focus {
    color: var(--secondary-color);
}

.header-contacts-link :hover {
    color: var(--secondary-color);
}

.header-contacts-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

/*------- MAIN ----------*/
.hero {
    background: #2E2F42;
}

.hero-title {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-button {
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
}

.hero-button :hover {
    background-color: var(--secondary-color)
}

.hero-button :focus {
    background-color: var(--secondary-color);

}

.features-list {
    list-style-type: none;
}

.features-item-title {
    font-weight: 500;
    color: var(--text-color);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-item-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.projects-title {
    text-align: center;
    color: var(--text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.projects-list {
    list-style-type: none;
}

.team {
    background-color: #F4F4FD;
}

.team-title {
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list {
    list-style-type: none;
}

.team-item {
    background-color: #FFF;
}

.team-item-title {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-item-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.2em;
}

/* BUTTONS PORTOFOLIO */


.main-buttons {
    list-style-type: none;
}

.button-item :hover,
.button-item :focus {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary-color);
}

.button {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    color: #4D5AE5;
    text-align: center;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: 1px solid #E7E9FC;
    background-color: #F4F4FD;
}

/* CONTENT */

.content-list {
    list-style-type: none;
    background-color: #FFF;
}

.content-items {
    border: 1px solid #E7E9FC;
}

.content-item-title {
    color: var(--text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.content-item-text {
    color: v#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* ------FOOTER------ */

.footer {
    background-color: #2E2F42;
}

.footer-logo {
    color: #4d5ae5;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-logo-accent {
    color: #F4F4FD;
}